.container-footer{
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    width: 100%;
    height: 10em;
}
.Icons{
    border: 2px solid var(--gray-200);
    height: min-content;
    border-radius: 4px;
    font-size: 1.5em;
    background-color: white;

}
    