@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:5em ;
    background-color: var( --beige-200);
    width: 100vw;
    height: 40em;
    z-index: 0;
    justify-items: center;
    align-items: center;
}

.container-desc{
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
}
.container-desc p{
    margin-top: 2em;
    
}

.container-desc h1 {
    font-weight: 0;
    color: var(--primary-color);
   
 
}