.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray-200);
    
}

.hero{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: fit-content;
    background: url(https://previews.123rf.com/images/oksix/oksix1410/oksix141000347/32930390-la-cebada-y-el-l%C3%BApulo-en-un-fondo-de-madera-concepto-de-la-cerveza.jpg);
    background-size:cover ;
    background-color: linear-gradient(rgba(0,0,0 .50) 0%,rgba(0,0,0 .50) 100%) ;
    justify-items: center;
}
.logo-hero{
    max-width: 100%;
    display: block;
    width:25em;
    height: 25em;
    padding-top: 4em;
    }
    .sub-titulo{
        color: white;
    }