@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

.container{
    width: 100%;
    z-index: 0;
}

.color-beige{
   background-color: var(--gray-200);
}
.container-img{
    height: 30em;
    padding: 2em 0;
}
.img-product{
    height: 100%;
}
.contenedor-grid{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
}

.container-desc{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 40%;
    
}

.container-desc p{
    margin-top: 2em;
    
}

.container-desc h1 {
    font-family: var(--font-dark);
    font-weight: 100;
    color: var(--primary-color);
}
@media screen and (max-width:858px){

    .container-desc{
        width: auto;
        margin: 0 1em;
    }
}